<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>

</head>
<body>
    <h4>Employee salary data</h4>
    <div ng-app='dh' ng-controller='load' ng-init='loadContacts()'>
      <div>{{selected.firstname}} {{selected.lastname}}</div>
      <ul ng-repeat='salary in salaryHistory'>
        <li> {{salary.start_of_salary.slice(0, 10)}} to {{formatEndDate(salary.end_of_salary)}}: {{salary.salary  | currency}}</li>
      </ul>
      <ul ng-repeat='contact in contacts' repeat-complete>
        <li class='user' data-firstname='{{contact.firstname}}' data-lastname='{{contact.lastname}}'>{{contact.lastname}}, {{contact.firstname}}</li>
      </ul>

    </div>

</body>
<script>
  var app = angular.module('dh', []);

  app.controller('load', function($http, $scope, $rootScope) {

    $rootScope.selected = {};
    $rootScope.salaryHistory = [];
    $scope.contacts = [];
    $scope.loadContacts = function() {
      $http({
        url: 'http://127.0.0.1:6474/employees',
        method: 'GET'
      }).success(function(data) {
        console.log(data);     
        $scope.contacts = data;
      });
    };

    $scope.formatEndDate = function(date) {
      if (date[0]==='9') {
        return 'Present';
      } else {
        return date.slice(0, 10);
      }
    };

    $rootScope.getSalary = function(firstName, lastName) {
      return $http({
        url: 'http://127.0.0.1:6474/salaryHistory',
        method: 'GET',
        params: {firstName: firstName, lastName: lastName} 
      });
    };

  });

  //add event listener after users have been loaded
  app.directive('repeatComplete', function($rootScope) {
    return function(scope, element, attrs) {
      if (scope.$last){
        $('.user').on('click', function() {
          var firstname = this.getAttribute('data-firstname');
          var lastname = this.getAttribute('data-lastname');
          $rootScope.getSalary(firstname, lastname)
          .success(function(data) {
            console.log(data);
            $rootScope.selected = {firstname: firstname, lastname: lastname};
            $rootScope.salaryHistory = data;
          });
        });
      }
    };
  });

</script>
</html>
